# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Additional ignores

.idea/
.nuxt/
.sass-cache/
.venv/
.vscode/
_site/
bin/
*.code-workspace
dist/
src/static/gallery-thumbs/wtg_log.txt

# Python ignores

.venv/
