---
layout: base
title: Softwares
columns: 3
---
<section class="section has-background-dark">
    <div class="container">
        {% for sf in site.data.softwares %}
            {% assign is_first = forloop.index | minus: 1 | modulo: page.columns %}
            {% assign is_last = forloop.index | modulo: page.columns %}
            {% if forloop.first or is_first == 0 %}
                <div class="columns is-mobile">
            {% endif %}
                <div class="column is-one-third">
                    <article class="card has-background-light">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png"/>
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="{{ sf.url }}"
                               style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                            </a>
                            <div class="media">
                                <div class="media-left">
                                    <img src="https://bulma.io/images/placeholders/96x96.png"/>
                                </div>
                                <div class="media-content">
                                    <p class="title is-3">{{ sf.name }}</p>
                                    <p class="subtitle is-5">{{ sf.subdesc }}</p>
                                </div>
                            </div>
                            <div class="content"><p>{{ sf.desc }}</p></div>
                        </div>
                    </article>
                </div>
            {% if forloop.last or is_last == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
