---
layout: base
title: Softwares
footer: true
support: true
socials: true
description: Discord bots, graphic tools, and more
---
<section class="section has-background-dark-2">
    <div class="container">
        <div class="columns is-multiline">
            {% for sf in site.data.softwares %}
                <div class="column is-one-third">
                    <div class="card has-background-light">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png"/>
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="/softwares/{{ sf.page_url }}"
                                style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                            </a>
                            <div class="media">
                                {% if sf.logo_url %}
                                <div class="media-left">
                                    <!-- <figure>    -->
                                        <img src="/static/logos/{{ sf.logo_url }}" width="80px" height="80px"/>
                                    <!-- </figure> -->
                                </div>
                                {% endif %}
                                <div class="media-content">
                                    <p class="title is-size-4-mobile">{{ sf.name }}</p>
                                    <p class="subtitle is-5">{{ sf.subdesc }}</p>
                                </div>
                            </div>
                            <div class="content"><p class="is-size-5">{{ sf.desc }}</p></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
