<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/favicons/android-chrome-256x256.png" alt="StahlFerro" width="30"
                 height="30"/><span style="padding-left:10px;">StahlFerro</span>
        </a>


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-main" class="navbar-menu">
        <div class="navbar-start">
            <a href="/videos/index.html" class="navbar-item">Videos</a>
            <a href="/softwares/index.html" class="navbar-item">Softwares</a>
        </div>
    </div>
</nav>
