<nav class="navbar is-fixed-top is-dark-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-brand-button" href="/">
            <img src="/static/favicons/android-chrome-256x256.png" alt="StahlFerro" width="30"
                 height="30"/><span class="navbar-brand-text" style="padding-left:10px;">StahlFerro</span>
        </a>


        <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">
            <a href="/videos/index.html" class="navbar-item">Videos</a>
            <a href="/softwares/index.html" class="navbar-item">Softwares</a>
        </div>
    </div>
</nav>
<script src="../static/js/navbar.js" type="text/javascript">
</script>
