<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-main" class="navbar-menu">
        <div class="navbar-start">
            <a href="/index.html" class="navbar-item">Home</a>
            <a href="/about/index.html" class="navbar-item">About</a>
            <a href="/wip.html" class="navbar-item">Animation</a>
            <a href="/wip.html" class="navbar-item">Development</a>
        </div>
    </div>
</nav>
