<section class="hero is-small is-dark-2">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- <p>"Social" Media Links</p> -->
            <p>
                <a href="{{ site.youtube_url }}" class="button is-youtube-red is-medium"><span class="icon"><i class="fab fa-youtube"></i></span></a>
                <a href="{{ site.twitter_url }}" class="button is-twitter-cyan is-medium"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                <a href="{{ site.github_url }}" class="button is-github-white is-medium"><span class="icon"><i class="fab fa-github"></i></span></a>
            </p>
        </div>
    </div>
</section>
