<section class="hero is-small is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p>Further support and donations are always appreciated <span class="is-pink">&lt;3</span></p>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <!-- <p class="subtitle">ko-fi</p> -->
                        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
                        <script type='text/javascript'>kofiwidget2.init('Support on Ko-fi!', '#61c0e0', 'L4L8P36M');kofiwidget2.draw();</script>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
