@charset "utf-8";
@import "./bulma/bulma.sass";


/*! Color variables !*/
$karakurenai: #c91f37;
$powdered-iron: #bcbdc2;
$pink: #fa7cb7;
$dark-2: #232629;
$blurple: #7289DA;
$blurple-bright: #b3bee4;
$trident-cyan: #34caf8;
$trident-cyan-bright: #9fe9ff;
$trident-grey: #31363b;
$white-d: #cccccc;
$emerald: #50c878;
$lavender: #9683ff;
$docs-grey: #7c8f99;
$docs-grey-bright: #c9cecf;


/*! Color definitions */
.is-pink {
    color: $pink;
} 
.is-blurple {
    color: $blurple;
}
.is-trident-cyan {
    color: $trident-cyan;
}
.is-emerald {
    color: $emerald;
}
.is-trident-cyan {
    color: $trident-grey;
}
.is-lavender {
    color: $lavender;
}
.is-white-d {
    color: $white-d;
}
.is-dark-2 {
    color: $dark-2;
}
.has-background-dark-2 {
    background-color: $dark-2;
}


/*! $dark-2 navbar color */
.navbar.is-dark-2 {
    background-color: $dark-2;
}
.navbar.is-dark-2 a.navbar-item {
    color: $white-d;
}
.navbar.is-dark-2 a.navbar-item:hover {
    color: $dark-2;
    background-color: $white-d;
}
.navbar.is-dark-2 a.navbar.is-dark-2.is-active{
    // color: $iron-red;
}
.navbar.is-dark-2 span.navbar-brand-text:hover {
    color: $dark-2;
}
.navbar.is-dark-2 a.navbar-brand-button:hover {
    background-color: $karakurenai;
}


/*! $dark-2 hero color */
.hero.is-dark-2 {
    color: $white-d;
    background-color: $dark-2;
}
.hero.is-dark-2 h1 {
    color: $white-d;
}


/* $dark-2 footer color */
section.has-background-dark-2 {
    color: $white-d;
    background-color: $dark-2;
}


.hero.is-trident-cyan {
    background-color: $trident-grey;
    color: $trident-cyan;
}
.hero.is-trident-cyan .title {
    color: $trident-cyan;
}
.hero.is-trident-cyan .subtitle {
    color: $trident-cyan;
}

.hero.is-trident-cyan-inverted {
    color: $trident-grey;
    background-color: $trident-cyan;
}
.hero.is-trident-cyan-inverted .title {
    color: $trident-grey;
}
.hero.is-trident-cyan-inverted .subtitle {
    color: $trident-grey;
}

.hero.is-karakurenai {
    background-color: $powdered-iron;
    color: $karakurenai;
}
.hero.is-trident-cyan .title {
    color: $trident-cyan;
}
.hero.is-trident-cyan .subtitle {
    color: $trident-cyan;
}

/*! $blurple button */
.button.is-neon-blurple {
    background-color: transparent;
    border-color: $blurple;
    color: $blurple;
    border-width: 2px;
}
.button.is-neon-blurple:hover, .button.is-neon-blurple.is-hovered {
    border-color: $blurple-bright;
}
.button.is-neon-blurple:active, .button.is-neon-blurple.is-active {
    background-color: $blurple;
    border-color: $blurple;
    color: #000;
}


/* $docs-grey button */
.button.is-neon-grey {
    background-color: transparent;
    border-color: $docs-grey;
    color: $docs-grey;
    border-width: 2px; 
}
.button.is-neon-grey:hover, .button.is-neon-grey.is-hovered {
    border-color: $docs-grey-bright;
}
.button.is-neon-grey:active, .button.is-neon-grey.is-active {
    background-color: $docs-grey;
    border-color: $docs-grey;
    color: #000;
}


/* $trident-cyan button */
.button.is-neon-trident-cyan {
    background-color: transparent;
    border-color: $trident-cyan;
    color: $trident-cyan;
    border-width: 2px;
}
.button.is-neon-trident-cyan:hover, .button.is-neon-trident-cyan.is-hovered {
    border-color: $trident-cyan-bright;
}
.button.is-neon-trident-cyan:active, .button.is-neon-trident-cyan.is-active {
    background-color: $trident-cyan;
    border-color: $trident-cyan;
    color: #000;
}


/* $emerald button */
.button.is-neon-emerald {
    background-color: transparent;
    border-color: $emerald;
    color: $emerald;
    border-width: 2px;
}
.button.is-neon-emerald:hover, .button.is-neon-emerald.is-hovered {
    border-color: #fff;
}
.button.is-neon-emerald:active, .button.is-neon-emerald.is-active {
    background-color: $emerald;
    border-color: $emerald;
    color: #000;
}

