@charset "utf-8";

// Import a Google Font

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;


// Import only what you need from Bulma
@import "./bulma/bulma.sass";

$pink: #fa7cb7;
$blurple: #7289DA;
$turqoise: #0babc7;
$deep-marine: #00303f;
$white-d: #dddddd;
$emerald: #50c878;

.is-pink{
    color: $pink;
} 
.is-blurple{
    color: $blurple;
}
.is-turqoise{
    color: $turqoise;
}
.is-emerald{
    color: $emerald;
}
.is-deep-marine{
    color: $deep-marine;
}

.hero.is-deep-marine{
    background-color: $deep-marine;
    color: #fff;
}

.button.is-neon-blurple{
    background-color: transparent;
    border-color: #7289DA;
    color: #7289DA;
    border-width: 2px; 
}
.button.is-neon-blurple:hover, .button.is-neon-blurple.is-hovered{
    border-color: #fff;
}
.button.is-neon-blurple:active, .button.is-neon-blurple.is-active {
    background-color: #7289DA;
    border-color: #7289DA;
    color: #000;
}

.button.is-neon-grey{
    background-color: transparent;
    border-color: #7c8f99;
    color: #7c8f99;
    border-width: 2px; 
}
.button.is-neon-grey:hover, .button.is-neon-grey.is-hovered{
    border-color: #fff;
}
.button.is-neon-grey:active, .button.is-neon-grey.is-active {
    background-color: #7c8f99;
    border-color: #7c8f99;
    color: #000;
}

.button.is-neon-turqoise{
    background-color: transparent;
    border-color: #0babc7;
    color: #0babc7;
    border-width: 2px;
}
.button.is-neon-turqoise:hover, .button.is-neon-turqoise.is-hovered{
    border-color: #fff;
}
.button.is-neon-turqoise:active, .button.is-neon-turqoise.is-active {
    background-color: #0babc7;
    border-color: #0babc7;
    color: #000;
}

.button.is-neon-emerald{
    background-color: transparent;
    border-color: $emerald;
    color: $emerald;
    border-width: 2px;
}
.button.is-neon-emerald:hover, .button.is-neon-emerald.is-hovered{
    border-color: #fff;
}
.button.is-neon-emerald:active, .button.is-neon-emerald.is-active {
    background-color: $emerald;
    border-color: $emerald;
    color: #000;
}