@charset "utf-8";

// Import a Google Font

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;


// Import only what you need from Bulma
@import "./bulma/bulma.sass";

.is-pink{
    color: #fa7cb7;
} 
.is-blurple{
    color: #7289DA;
}
.is-turqoise{
    color: #0babc7;
}

.button.is-blurple{
    background-color: #7289DA;
    border-color: transparent;
    color: #fff;
}

.button.is-blackple{
    background-color: #000;
    border-color: #7289DA;
    color: #7289DA;
    border-width: 2px; 
}
.button.is-blackple:hover, .button.is-blackple.is-hovered{
    border-color: #fff;
}
.button.is-blackple:active, .button.is-blackple.is-active {
    background-color: #7289DA;
    border-color: #7289DA;
    color: #000;
}

.button.is-docsgrey{
    background-color: #000;
    border-color: #7c8f99;
    color: #7c8f99;
    border-width: 2px; 
}
.button.is-docsgrey:hover, .button.is-docsgrey.is-hovered{
    border-color: #fff;
}
.button.is-docsgrey:active, .button.is-docsgrey.is-active {
    background-color: #7c8f99;
    border-color: #7c8f99;
    color: #000;
}

.button.is-turqoise-black{
    background-color: #000;
    border-color: #0babc7;
    color: #0babc7;
    border-width: 2px;
}
.button.is-turqoise-black:hover, .button.is-turqoise-black.is-hovered{
    border-color: #fff;
}
.button.is-turqoise-black:active, .button.is-turqoise-black.is-active {
    background-color: #0babc7;
    border-color: #0babc7;
    color: #000;
}