@import "../colors.scss";


.button {

    /* Bulma button class override, squaring the edges */
    border-radius: 0px;
    
    &.is-neon-blurple {
        background-color: transparent;
        border-color: $blurple;
        color: $blurple;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($blurple, 20%);
            color: lighten($blurple, 20%);
        }
        &:active, &.is-active {
            background-color: $blurple;
            border-color: $blurple;
            color: #000;
        }
    }
    &.is-neon-grey {
        background-color: transparent;
        border-color: $docs-grey;
        color: $docs-grey;
        border-width: 2px; 
        &:hover, &.is-hovered {
            border-color: lighten($docs-grey, 20%);
        }
        &:active, &.is-active {
            background-color: $docs-grey;
            border-color: $docs-grey;
            color: #000;
        }
    }
    &.is-neon-white-c {
        background-color: transparent;
        border-color: $white-c;
        color: $white-c;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($white-c, 20%);
        }
        &:active, &.is-active {
            background-color: $white-c;
            border-color: $white-c;
            color: #000;
        }
    }
    &.is-neon-trident-cyan {
        background-color: transparent;
        border-color: $trident-cyan;
        color: $trident-cyan;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($trident-cyan, 20%);
        }
        &:active, &.is-active {
            background-color: $trident-cyan;
            border-color: $trident-cyan;
            color: #000;
        }
    }
    &.is-neon-emerald {
        background-color: transparent;
        border-color: $emerald;
        color: $emerald;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: #fff;
        }
        &:active, &.is-active {
            background-color: $emerald;
            border-color: $emerald;
            color: #000;
        }
    }
    &.is-youtube-red {
        color: red;
        border-color: red;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($youtube-red, 20%);
            color: lighten($youtube-red, 20%);
        }
        &:active, &.is-active {
            color: white;
            border-color: red;
            background-color: red;
        }
    }
    &.is-twitter-cyan {
        color: $twitter-cyan;
        border-color: $twitter-cyan;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($twitter-cyan, 20%);
            color: lighten($twitter-cyan, 20%);
        }
        &:active, &.is-active {
            color: white;
            border-color: $twitter-cyan;
            background-color: $twitter-cyan;
        }
    }
    &.is-github-white {
        color: $white-c;
        border-color: $white-c;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: $white-e;
            color: $white-e;
        }
        &:active, &.is-active {
            color: black;
            border-color: $white-c;
            background-color: $white-c;
        }
    }
    &.is-github-black {
        color: $dark-2;
        border-color: $dark-2;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($dark-2, 20%);
        }
        &:active, &.is-active {
            color: $white-e;
            border-color: transparent;
            background-color: $dark-2;
        }
    }
    &.is-patreon-coral {
        border: 2px solid $patreon-coral;
        background-color: transparent;
        color: $white-c;
        &:hover {
            border-color: lighten($patreon-coral, 20%);
            color: $white-e;
        }
        &:active {
            border-color: $patreon-coral;
            background-color: $patreon-coral;
            color: $dark-2;
        }
    }
    &.is-kofi-cyan {
        border: 2px solid $kofi-cyan;
        background-color: transparent;
        color: $kofi-cyan;
        &:hover {
            border-color: lighten($kofi-cyan, 20%);
            color: lighten($kofi-cyan, 20%);
        }
        :active {
            border-color: $kofi-cyan;
            background-color: $kofi-cyan;
            color: $dark-2;
        }
    }
    &.is-liberapay-yellow {
        border: 2px solid $liberapay-yellow;
        background-color: transparent;
        color: $white-c;
        &:hover {
            border-color: lighten($liberapay-yellow, 20%);
            color: $white-e;
        }
        &:active {
            border-color: $liberapay-yellow;
            background-color: $liberapay-yellow;
            color: $dark-2;
        }
    }
    &.is-pale-green {
        color: $pale-green;
        border-color: $pale-green;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($pale-green, 20%);
            color: lighten($pale-green, 20%);
        }
        &:active, &.is-active {
            color: $white-e;
            border-color: transparent;
            background-color: $pale-green;
        }
    }
    &.is-iron-red {
        color: $iron-red;
        border-color: $iron-red;
        background-color: transparent;
        border-width: 2px;
        &:hover, &.is-hovered {
            border-color: lighten($iron-red, 20%);
        }
        &:active, &.is-active {
            color: $white-e;
            border-color: transparent;
            background-color: $iron-red;
        }
    }
}
