.tabs.is-neon-trident-cyan {
    li {
        border: 2px solid transparent;
    } 
    ul {
        border-bottom: 2px solid $dark-4;
    }
    li a {
        color: $white-c !important;
        border-bottom: 2px solid $white-c;
    }
    li:hover {
        border: 2px solid $white-c;
    }
    li:focus {
        border: 2px solid $white-c;
        a {
            color: $dark-2 !important;
            background-color: $white-c;
            border-bottom: 2px solid $white-c;
        }
    }
    li.is-active, li:active {
        border: 2px solid $trident-cyan;
        a {
            color: $dark-2 !important;
            background-color: $trident-cyan;
            border-bottom: 2px solid $trident-cyan;
        }
    }
}