@import "../colors.scss";

.hero {
    &.is-black {
        color: $white-c; 
        p.title { color: $white-c; }
    }
    &.is-dark-2 {
        color: $white-c;
        background-color: $dark-2;
        .title { color: $white-c; }
        .subtitle { color: $white-c; }
        strong { color: $white-c; }
    }
    &.is-dark-3 {
        color: $white-c;
        background-color: $dark-3;
        h1 { color: $white-c; }
    }
    &.is-iron-blue-dark-2 {
        color: $iron-blue;
        background-color: $dark-2;
        h1 { color: $iron-blue; }
    }
    &.is-dark-2-iron-blue {
        color: $dark-2;
        background-color: $iron-blue;
        h1 { color: $dark-2; }
    }
    &.is-white-e-iron-violet {
        color: $white-e;
        background-color: $iron-violet;
        h1 { color: $white-e; }
        h2 { color: $white-e; }
        h3 { color: $white-e; }
        h4 { color: $white-e; }
        h5 { color: $white-e; }
        h6 { color: $white-e; }
    }
    &.is-dark-2-iron-turqoise {
        color: $dark-2;
        background-color: $iron-turqoise;
        h1 { color: $dark-2; }
        h2 { color: $dark-2; }
        h3 { color: $dark-2; }
        h4 { color: $dark-2; }
        h5 { color: $dark-2; }
        h6 { color: $dark-2; }
    }
    &.is-gold {
        color: $dark-2 !important;
        background-color: $gold !important;
        h1 { color: $dark-2; }
        h2 { color: $dark-2; }
        h3 { color: $dark-2; }
        h4 { color: $dark-2; }
        h5 { color: $dark-2; }
        h6 { color: $dark-2; }
    }
    &.is-white-e-forrest {
        color: $white-e !important;
        background-color: $forest !important;
        h1 { color: $white-e; }
        h2 { color: $white-e; }
        h3 { color: $white-e; }
        h4 { color: $white-e; }
        h5 { color: $white-e; }
        h6 { color: $white-e; }
    }
    &.is-forrest-dark-2 {
        color: $forest !important;
        background-color: $dark-2 !important;
        h1 { color: $forest; }
        h2 { color: $forest; }
        h3 { color: $forest; }
        h4 { color: $forest; }
        h5 { color: $forest; }
        h6 { color: $forest; }
    }
    &.is-dark-2-forrest {
        color: $dark-2 !important;
        background-color: $forest !important;
        h1 { color: $dark-2; }
        h2 { color: $dark-2; }
        h3 { color: $dark-2; }
        h4 { color: $dark-2; }
        h5 { color: $dark-2; }
        h6 { color: $dark-2; }
    }
    &.is-mlg-dark-violet {
        color: $dark-2 !important;
        background-color: $mlg-dark-violet !important;
        h1 { color: $dark-2; }
        h2 { color: $dark-2; }
        h3 { color: $dark-2; }
        h4 { color: $dark-2; }
        h5 { color: $dark-2; }
        h6 { color: $dark-2; }
    }
    &.is-maroon {
        background-color: $maroon !important;
        color: $white-c !important;
        .title { color: $white-c !important; }
        .subtitle { color: $white-c !important; }
    }
    &.is-trident-cyan-dark-3 {
        color: $trident-cyan;
        background-color: $dark-3;
        .title { color: $trident-cyan; }
        .subtitle { color: $trident-cyan; }
    }
    &.is-trident-cyan {
        color: $dark-3 !important;
        background-color: $trident-cyan !important;
        .title { color: $dark-3; }
        .subtitle { color: $dark-3; }
    }
    &.is-white-e-iron-red {
        background-color: $iron-red;
        color: $white-e;
        .title { color: $white-e; }
        .subtitle { color: $white-e; }
    }
    &.is-iron-red-white-e {
        background-color: $white-e;
        color: $iron-red;
        .title { color: $iron-red; }
        .subtitle { color: $iron-red; }
    }
}
