@charset "utf-8";
@import "../colors.scss";

/* Desktop Navbar */
nav {
    font-size: 1.1rem;
    span.icon i {
        font-size: 1.2em;
    }
}
a.nuxt-link-exact-active {
    color: $iron-blue;
    background-color: $iron-blue !important;
    border: 2px solid $iron-blue !important;
}
.navbar.is-dark-2 {
    background-color: $dark-2;
    a.navbar-item {
        color: $white-c;
        border: 2px solid $dark-2;
    }
    a.navbar-item:hover {
        background-color: transparent;
        border: 2px solid $white-c;
        color: $white-c;
    }
    a.navbar-item:active {
        color: $dark-2;
        background-color: $white-c;
        border: 2px solid $white-c;
    }
    /* Navbar dropdown customizations */
    a.navbar-link {
        color: $white-c !important;
        background-color: $dark-2 !important;
        border: 2px solid $dark-2 !important;
        // z-index: 12;
    }
    div.navbar-dropdown .navbar-item {
        font-size: 20px;
    }
    a.navbar-link::after {
        border-color: $white-c !important
    }
    a.navbar-link:hover::after {
        border-color: $iron-blue !important
    }
    /* Mobile Navbar */
    a.navbar-burger {
        color: $white-c;
    }
    .navbar-menu.is-active {
        background-color: $dark-2;
    }
}



div.navitem-double-space a.navbar-item {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-dropdown {
    background-color: $dark-2;
    border: none;
    z-index: 100;
}

.navbar-shadow {
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.2), 0 3px 20px 4px rgba(0, 0, 0, 0.2);
    div.navbar-menu:not(.is-active) div.navbar-dropdown {
        box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.2);
    }
}


div.navbar-dropdown span.navitem-text {
    font-size: 1rem;
}
