<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="UTF-8"/>
    <meta name="author" content="StahlFerro"/>
    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#5595FF"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <!-- OpenGraph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:site_name" content="{{ site.og_site_name }}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta property="og:image" content="{% if page.og_image %}/static/thumb/{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <!-- Bulma -->
    <link rel="stylesheet" href="/static/css/bulmamods.css" type="text/css"/>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css" type="text/css"/>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- Google Verification -->
    <meta name="google-site-verification" content="xPOlLw31AN12WO6gow34wuKvlrb5nbbiU739w_CZP78" />
    <!-- Google Analytics - Global site tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140998532-1"></script>
    <script async src="/static/js/google-analytics.js"></script>
</head>
<body>
{% include navbar.html %}
{{ content }}
</body>
<footer>
    {% if page.support %} {% include support.html %} {% endif %}
    {% if page.socials %} {% include socials.html %} {% endif %}
    {% if page.footer %} {% include footer.html %} {% endif %}
</footer>
</html>
